body {
    background-image: radial-gradient(circle at center, #212131 0%, #000000 100%);
    min-height: 100vh;
    margin: 0;                   
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#below-cover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0 1em 0;
}

#buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2em;
}

button {
    background-color: inherit;
    color: inherit;
    border: none;



}
.button {
    font-size: 1.5em;
    cursor: pointer;
}

.button-navigate {
    font-size: 3em;

}

.button-biggest {
    font-size: 4em;
}

#cover {
    width: 350px;
    height: 350px;
    border: solid white 0.5em;
    filter: brightness(1.2);
    transition: all 0.2s ease-in-out;
}

#cover:hover {
    cursor: pointer;
    transform: scale(1.05); /* Aumenta a imagem em 5% */
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.4); /* Brilho branco suave */
    filter: brightness(1.1); /* Dá uma leve "acesa" na foto */
}

#playlist-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0 4em 0;
    font-size: 1.2em;
}

#song-name {
    font-size: 1.5em;
    font-weight: bolder;
}

.light-color {
    color: #d7d7d8;
}

#progress-bar {
    background-color: #a8a8af;
    height: 3px;
    width: 100%;
    border-radius: 25px;
}

#current-progress {
    --progress: 0%;
    background-color: white;
    height: inherit;
    width: var(--progress);
    border-radius: inherit;

}

#progress-container {
    cursor: pointer;

}

.button-active {
    color: rgb(24, 178, 37);


}

#time-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
    margin-top: 0.5em;


}

button:hover {
    transform: scale(1.1); 
    transition: transform 0.2s ease; 
    filter: brightness(1.2);
}

button:active {
    transform: scale(0.95); 
}

#progress-container:hover #progress-bar {
    height: 6px;
    transition: height 0.2s ease;
}